<div>
  <div class="d-flex justify-content-around top-navbar">
    <div class="insta-logo-wrapper">
      <%= link_to "https://www.instagram.com/salome_levy/", target: "_blank" do %>
        <i class="fab fa-instagram insta-icon"></i>
      <% end %>
    </div>
    <div class="goral-logo-wrapper">
      <p class="goral-logo">GORAL COACHING</p>
    </div>
    <div>
      <%= link_to "PRENDRE RDV", "#", class: "btn btn-gradient" %>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div class="container-fluid">
    <div>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Approche", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Coaching", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Psychologie", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Offres", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
